/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* generic style/default styles */

body{
    font-family:'Open Sans', sans-serif;
    font-size: 14px; 
    /* 1em = 14px */
    line-height: 1.5;
    color: black;
}
h1{
    font-size: 71px;
    line-height: 106px;
    margin-bottom: 30px;
    font-weight: bold;
}

h2{
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: bold;
}

h3{
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}
h4{
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color:#c78b07;
}

p{
    margin-bottom: 1em;
 
}


img{
    max-width: 100%;
    height: auto;
}

.container{
    padding:1em;
}

.container input{
    width: 90%;
    height: 30px;
}

.container button{
    background-color: #000000;
    border: #c78b07;
    border: 5px;
    color: #c78b07;
}

nav{
    background-color: #222222;
}


nav a:link,
nav a:visited{
    color:#c78b07;
    font-size:18px;
    padding-top:17px;
    padding-bottom: 17px;
    text-decoration: none;
    text-align: center;
    display: block;
}
.current a:link,
.current a:visited {
background-color: #c78b07;
color: #222222;
}
.logo{
    background-color: #c78b07;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-welcome{
    background-image: url(../final-project/images/main-banner.jpg);
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 60px;
}
.header-welcome .container{
background-color: rgba(0, 0, 0, 0.5);
color: white;

}
.header-welcome button{ 
    background-color:#c78b07 ;
    border: none;
    padding: 2rem;
    font-size:18px;
    color: #000000;
}


.section-about{
    background-color:  #ffe6ac;
    background-size: cover;
    padding: 1rem;
}


.Digital{
    background-color:  #ffe6ac;
   padding: 1rem;
}
.Digital img{
    width:100%;
}
.Digital button{ 
    background-color:#000000 ;
    color: #ffffff;
    border: none;
    padding: 2rem;
    font-size:18px;
}

.Marketing{
    background-color:  #ffe6ac;
    background-size: cover;
    padding: 1rem;
}
.Marketing img{
    width:100%;
}
.Marketing button{ 
    background-color:#000000 ;
    color: #ffffff;
    border: none;
    padding: 2rem;
    font-size:18px;
}
.Video{
    background-color:  #ffe6ac;
    background-size: cover;
    padding: 1rem;
}
.Video img{
    width:100%;
}
.Video button{ 
    background-color:#000000 ;
    color: #ffffff;
    border: none;
    padding: 2rem;
    font-size:18px;
}
.Web{
    background-color:  #ffe6ac;
    background-size: cover;
    padding: 1rem;
}
.Web img{
        width:100%;
    }
.Web button{ 
    background-color:#000000 ;
    color: #ffffff;
    border: none;
    padding: 2rem;
    font-size:18px;
}
.Print{
    background-color:  #ffe6ac;
    background-size: cover;
    padding: 1rem;
}
.Print img{
    width:100%;
}
.Print button{ 
    background-color:#000000 ;
    color: #ffffff;
    border: none;
    padding: 2rem;
    font-size:18px;
}
.section-vision{
    background-image: url(../final-project/images/vision.jpg);
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 60px;
    color: #ffffff;
}
.section-vision .container{
        color:white;}
        
.section-vision button{ 
    background-color:#000000 ;
    color: #ffffff;
    border-color: #c78b07;
    padding: 2rem;
    font-size:18px;
}
.jone{
    background-color:  #ffe6ac;
    background-size: cover;
    padding: 1rem;
}

.jone img{
    width:100%;
}

.Bob{
    background-color:  #ffe6ac;
    background-size: cover;
    padding: 1rem;
}
.Bob img{
    width:100%;
}

.section-contact{
    padding: 1rem;
}

.form{
    padding-bottom: 2rem;
}

input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
  }

textarea {
	width: 100%;
	height: 150px;
	box-sizing: border-box;
	border: 1px solid rgb(0, 0, 0);
	background-color:white;
	font-size: 16px;
	resize: none;
  }

  input[type=submit]{
	padding: 0.5rem;
	background-color:#000000;
    color: #c78b07;
    font-size: 18px;
    font-weight: bold;
    border:none;
  }

.hours{
    padding-bottom: 2rem;
}
  table, td, th {
    border: 1px solid;
  }
  th{
    display: center;
    background-color: #ffe6ac;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  iframe{
    width: 100%;
  }

  footer{
    
        background-color:#000000 ;
        color:#c78b07;
        padding: 0.5rem;
        padding-top: 1rem;


@media screen and (min-width:1200px){


.container{
    width: 1172px;
    margin:0 auto;
}
}
}